# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Build folders
/build/
/bin/
/Debug/
/Release/

# Logs and temp files
*.log
*.tmp
